---
layout: startpage
---
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
            <header>
                <a href="#about" class="button circled scrolly"></a>
                <hr/>
                <p>Diversified Death Metal from Switzerland</p>
            </header>
            <footer>
            </footer>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a class="scrolly" href="#about">About</a></li>
                <li><a class="scrolly" href="#activities">News</a></li>
                <li><a class="scrolly" href="#concerts">Concerts</a></li>
                <li><a class="scrolly" href="#music">Music</a></li>
                <li><a class="scrolly" href="#biography">Biography</a></li>
                <li><a class="scrolly" href="#members">Members</a></li>
                <li><a href="index.html">Deutsch</a></li>
            </ul>
        </nav>
    </div>

    <!-- Banner -->
    <section id="about" class="banner">
        <header class="major">

            <p>The Death-Metal band Pale Black persuades with diversified songwriting.
                Fast blast beats are followed by pounding groove parts. Sudden beat and rhythm changes interrupt
                headbanging,
                but keep the songs interesting for loyal fans.</p>
        </header>
    </section>

    <!-- Activities -->
    <section id="activities" class="carousel clientside">
        <div align="center"><img src="css/images/heart_beat_white.gif" class="spinner"/></div>
    </section>

    <!-- Music -->
    <div class="wrapper style1">
        <article id="music" class="container special">
            <header>
                <h2>Music</h2>
            </header>
            <iframe width="100%" height="450" scrolling="no" frameborder="no"
                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/188648420&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false"></iframe>
        </article>
    </div>

    <!-- Concerts -->
    <section id="concerts" class="carousel serverside">
        <div class="reel">
            {% assign concerts = site.concerts | sort: 'date' | reverse %}
            {% for concert in concerts %}
            <article>
                <div class="image featured">
                    {% if concert.link %}<a href="{{concert.link}}">{% endif %}
                    <img src="images/concerts/{{concert.image}}" alt="{{concert.title}}"/>
                    {% if concert.link %}</a>{% endif %}
                </div>
                <div class="inner">
                    <h3>{% if concert.title-en %}{{concert.title-en}}{% else %}{{concert.title}}{% endif %}</h3>
                    <p>{% if concert.nodate %}{{}}{% else %}{% include functions/english-date.html date=concert.date %}{% endif %}</p>
                    <p>{% if concert.text-en %}{{concert.text-en}}{% else %}{{concert.text}}{% endif %}</p>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>


    <!--Bio-->
    <div class="wrapper style1">
        <article id="biography" class="container special">
            <header>
                <a href="#" class="image featured"><img src="images/biography.jpg" alt=""/></a>
                <h2>Biography</h2>
                <p>
                    It all began with two friends from the Emmental who shared a passion for metal
                </p>
            </header>
            <p>
                In 2009 the two friends, Thomas and Sebastian decided to start a metal band. They practiced hard,
                and searched for additional band members. With the most minimalistic advert ever "death metal band seeks
                drummer",
                they caught Dani's attention in the summer of 2011. It was soon evident that they shared not only the
                same sense of humor,
                but also the same musical vision. The three threw out all the old songs, and got busy creating new ones.
                Once they had the basics, they started looking for a bass guitarist and a singer. During this time they
                met many musicians,
                but only found people to fill the gap in the winter of 2013. When they met Miriam, her solo performance
                of
                Janice Joplin's " Mercedes Benz" convinced them immediately. She soon learnt how to growl, and together
                with Bruno,
                the band was finally complete.
                They practiced hard in the Emmental, and half a year later, Pale Black was on stage for the first time.
                Since then they have enjoyed doing more gigs and have also written more songs.
                An EP as well as a music video will follow soon. So stay in touch.
            </p>
        </article>

    </div>

    <!-- Features -->
    <div class="wrapper style1">

        <section id="members" class="container special">
            <header>
                <h2>Members</h2>
                <p>These five cheerful souls rarely ever take anything serious, except for their music</p>
            </header>
            <div class="row">
                <article class="4u 12u(mobile) special">
                    <a href="#" class="image featured"><img src="images/members/miriam.jpg" alt="Miriam"/></a>
                    <header>
                        <h3>Vocals: Miriam</h3>
                    </header>
                    <p>
                        The only woman in the band can hold her own against the guys thanks to her powerful voice. She
                        likes abstract jokes!z.
                    </p>
                </article>
                <article class="4u 12u(mobile) special">
                    <a href="#" class="image featured"><img src="images/members/thomas.jpg" alt="Thomas"/></a>
                    <header>
                        <h3>Guitar: Thomas</h3>
                    </header>
                    <p>
                        He, together with Sebastian, is responsible for the guitar wall that Pale Black blasts at you.
                        His huge passion for metal is the driving force behind the band.
                    </p>
                </article>
                <article class="4u 12u(mobile) special">
                    <a href="#" class="image featured"><img src="images/members/bruno.jpg" alt="Bruno"/></a>
                    <header>
                        <h3>Bass: Bruno</h3>
                    </header>
                    <p>
                        As soon as he gets hold of a bass guitar, the quiet, calm Bruno changes into an animal.
                        His tempo stability helps Dani stay in time and he thrills the audiences with his melodies on
                        the frettless bass.
                    </p>
                </article>
                <article class="4u 12u(mobile) special">
                    <a href="#" class="image featured"><img src="images/members/sebastian.jpg" alt="Sebastian"/></a>
                    <header>
                        <h3>Guitar: Sebastian</h3>
                    </header>
                    <p>
                        Although he will drum out a rhythm during every break, he is a true guitarist.
                        He usually provides the basis for the songs together with Thomas.
                    </p>
                </article>
                <article class="4u 12u(mobile) special">
                    <a href="#" class="image featured"><img src="images/members/dani.jpg" alt="Dani"/></a>
                    <header>
                        <h3>Drums: Dani</h3>
                    </header>
                    <p>
                        He is lovingly called the band granddad by the rest of the band.
                        He causes some confusion with his visions of the order of beats and polyrhythms.
                    </p>
                </article>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                {% for gallery in site.data.galleries %}
                <section class="4u 12u(mobile)">
                    <header>
                        <a href="{{gallery.imagefolder}}/gallery_en.html">
                            <h2 class="icon fa-camera circled"><span class="label">Photos</span></h2>
                        </a>
                        <a href="{{gallery.imagefolder}}/gallery_en.html">
                            <h3>{{gallery.description}}</h3>
                        </a>
                    </header>
                    <div class="row 25%">
                        {% for image in gallery.images limit: 6 %}
                        <div class="6u">
                            <a href="{{gallery.imagefolder}}/gallery_en.html" class="image fit">
                                <img src="{{gallery.imagefolder}}/{{image.name | replace:'.JPG','_thumb.JPG'}}"
                                     alt="{{image.name}}"/>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                {% endfor %}
            </div>
            <hr/>
            <div class="row">
                <div class="12u">

                    <!-- Contact -->
                    <section class="contact">
                        <header>
                            <h3>Contact</h3>
                        </header>
                        <p>Please support us on <a
                                href="{{site.facebook-url}}">Facebook</a> und <a
                                href="{{site.soundcloud-url}}">Soundcloud</a>. In case you'd like to book us,
                            please contact us via <a href="{{site.mail-url}}">Email</a>
                            or <a href="{{site.facebook-url}}">Facebook</a>.</p>
                        <ul class="icons">
                            <li><a href="{{site.mail-url}}" class="icon fa-envelope"><span
                                    class="label">Email</span></a>
                            </li>
                            <li><a href="{{site.facebook-url}}"
                                   class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="{{site.twitter-url}}"
                                   class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="{{site.soundcloud-url}}" class="icon fa-soundcloud"><span
                                    class="label">Soundcloud</span></a></li>
                            <li><a href="{{site.github-url}}" class="icon fa-github"><span
                                    class="label">Github</span></a></li>
                        </ul>
                    </section>

                    <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; Pale Black. All rights reserved.</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<script type="application/javascript">
    settings.locale = 'en';
</script>