<hr/>
<div class="row">
    <div class="12u">

        <!-- Contact -->
        <section class="contact">
            <header>
                <h3>Kontakt</h3>
            </header>
            <p>Wir freuen uns über euren Support auf <a
                    href="{{site.facebook-url}}">Facebook</a> und <a
                    href="{{site.soundcloud-url}}">Soundcloud</a>. Falls ihr uns für
                einen
                Aufritt buchen möchtet, meldet euch am Besten via <a href="{{site.mail-url}}">Email</a>
                oder <a href="{{site.facebook-url}}">Facebook</a>.</p>
            <ul class="icons">
                <li><a href="{{site.mail-url}}" class="icon fa-envelope"><span class="label">Mail</span></a>
                </li>
                <li><a href="{{site.facebook-url}}"
                       class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="{{site.twitter-url}}"
                       class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="{{site.soundcloud-url}}" class="icon fa-soundcloud"><span
                        class="label">Soundcloud</span></a></li>
                <li><a href="{{site.github-url}}" class="icon fa-github"><span
                        class="label">Github</span></a></li>
            </ul>
        </section>

        <!-- Copyright -->
        <div class="copyright">
            <ul class="menu">
                <li>&copy; Pale Black. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>

    </div>

</div>